<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <context:component-scan base-package="com.michealyang.*" />
    <context:annotation-config />
    <task:annotation-driven />

    <import resource="classpath:database.xml" />
    <!--<import resource="my-sso-client.xml"/>-->

    <context:property-placeholder location="classpath:sso.config.properties" ignore-unresolvable="true" />

    <bean id="ssoFilter" class="com.michealyang.sso.client.filter.SsoFilter">
        <property name="ssoLogin" value="${sso.login}"></property>
        <property name="ssoAuth" value="${sso.auth}"></property>
        <property name="ssoLogout" value="${sso.logout}"></property>
        <property name="host" value="${my.host}"></property>
    </bean>

</beans>